.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.card-title{
    font-size: 0.875rem;
    color: grey;
}
.card-data{
    font-weight: bold;
    font-size: 2rem; /* larger font for data */
    
}
@media (max-width:520px){
    .platformStats-contianer{
        padding: 10px !important;
    }
    .ratings-graph{
        padding: 10px !important;
        height: 300px !important;
    }
    .heatmap{
        padding: 5px !important;
    }
    .platform-title{
        font-size: 1.3rem !important;
        color: grey;
    }
}